@keyframes ldio-26yy5ie9771 {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-26yy5ie9771 div {
    left: 50%;
    top: 40%;
    position: absolute;
    animation: ldio-26yy5ie9771 linear 2s infinite;
    background: #0c4da2;
    width: 1.91px;
    height: 22.919999999999998px;
    border-radius: 0.2292px / 0.2292px;
    transform-origin: 0.955px 59.21px;
  }.ldio-26yy5ie9771 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.96s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(2) {
    transform: rotate(7.2deg);
    animation-delay: -1.92s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(3) {
    transform: rotate(14.4deg);
    animation-delay: -1.88s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(4) {
    transform: rotate(21.6deg);
    animation-delay: -1.84s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(5) {
    transform: rotate(28.8deg);
    animation-delay: -1.8s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(6) {
    transform: rotate(36deg);
    animation-delay: -1.76s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(7) {
    transform: rotate(43.2deg);
    animation-delay: -1.72s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(8) {
    transform: rotate(50.4deg);
    animation-delay: -1.68s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(9) {
    transform: rotate(57.6deg);
    animation-delay: -1.64s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(10) {
    transform: rotate(64.8deg);
    animation-delay: -1.6s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(11) {
    transform: rotate(72deg);
    animation-delay: -1.56s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(12) {
    transform: rotate(79.2deg);
    animation-delay: -1.52s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(13) {
    transform: rotate(86.4deg);
    animation-delay: -1.48s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(14) {
    transform: rotate(93.6deg);
    animation-delay: -1.44s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(15) {
    transform: rotate(100.8deg);
    animation-delay: -1.4s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(16) {
    transform: rotate(108deg);
    animation-delay: -1.36s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(17) {
    transform: rotate(115.2deg);
    animation-delay: -1.32s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(18) {
    transform: rotate(122.4deg);
    animation-delay: -1.28s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(19) {
    transform: rotate(129.6deg);
    animation-delay: -1.24s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(20) {
    transform: rotate(136.8deg);
    animation-delay: -1.2s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(21) {
    transform: rotate(144deg);
    animation-delay: -1.16s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(22) {
    transform: rotate(151.2deg);
    animation-delay: -1.12s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(23) {
    transform: rotate(158.4deg);
    animation-delay: -1.08s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(24) {
    transform: rotate(165.6deg);
    animation-delay: -1.04s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(25) {
    transform: rotate(172.8deg);
    animation-delay: -1s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(26) {
    transform: rotate(180deg);
    animation-delay: -0.96s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(27) {
    transform: rotate(187.2deg);
    animation-delay: -0.92s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(28) {
    transform: rotate(194.4deg);
    animation-delay: -0.88s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(29) {
    transform: rotate(201.6deg);
    animation-delay: -0.84s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(30) {
    transform: rotate(208.8deg);
    animation-delay: -0.8s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(31) {
    transform: rotate(216deg);
    animation-delay: -0.76s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(32) {
    transform: rotate(223.2deg);
    animation-delay: -0.72s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(33) {
    transform: rotate(230.4deg);
    animation-delay: -0.68s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(34) {
    transform: rotate(237.6deg);
    animation-delay: -0.64s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(35) {
    transform: rotate(244.8deg);
    animation-delay: -0.6s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(36) {
    transform: rotate(252deg);
    animation-delay: -0.56s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(37) {
    transform: rotate(259.2deg);
    animation-delay: -0.52s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(38) {
    transform: rotate(266.4deg);
    animation-delay: -0.48s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(39) {
    transform: rotate(273.6deg);
    animation-delay: -0.44s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(40) {
    transform: rotate(280.8deg);
    animation-delay: -0.4s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(41) {
    transform: rotate(288deg);
    animation-delay: -0.36s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(42) {
    transform: rotate(295.2deg);
    animation-delay: -0.32s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(43) {
    transform: rotate(302.4deg);
    animation-delay: -0.28s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(44) {
    transform: rotate(309.6deg);
    animation-delay: -0.24s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(45) {
    transform: rotate(316.8deg);
    animation-delay: -0.2s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(46) {
    transform: rotate(324deg);
    animation-delay: -0.16s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(47) {
    transform: rotate(331.2deg);
    animation-delay: -0.12s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(48) {
    transform: rotate(338.4deg);
    animation-delay: -0.08s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(49) {
    transform: rotate(345.6deg);
    animation-delay: -0.04s;
    background: #0c4da2;
  }.ldio-26yy5ie9771 div:nth-child(50) {
    transform: rotate(352.8deg);
    animation-delay: 0s;
    background: #0c4da2;
  }
  .loadingio-spinner-spinner-3b1t6err0ft {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    background: white;
  }
  .ldio-26yy5ie9771 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    background-color: white;
  }
  .ldio-26yy5ie9771 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */